
.color-dark{
    color:  white;
}
.style-nav{
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #aacede;
    z-index: 1000;
        
}

.style-nav-dark{
    background-color: darkgray;
}

.change-theme{
    font-size: 23px;
    cursor: pointer;
}